.main-banner{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img{
        width: 943px;
        height: 498px;
    }
    h1{
        position: absolute;
        top: 0;
        right: 0;
        margin: 30px;
        font-weight: bold;
    }
}